include README.md LICENSE CMakeLists.txt
graft src
graft include
graft mqt/qcec
graft jkq
include extern/qfr/CMakeLists.txt
graft extern/qfr/src
graft extern/qfr/include
graft extern/qfr/mqt/qfr
graft extern/qfr/jkq
include extern/qfr/extern/dd_package/CMakeLists.txt
graft extern/qfr/extern/dd_package/include

graft extern/json
prune extern/json/benchmarks
prune extern/json/doc
prune extern/json/include
prune extern/json/test
prune extern/json/third_party

graft extern/pybind11
prune extern/pybind11/docs
prune extern/pybind11/tests

graft extern/pybind11_json
prune extern/pybind11_json/test

prune **/.github
